*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
overflow-y: hidden;
overflow-x: hidden;
}

body{
overflow:hidden;
background:
radial-gradient(circle at top,
#4e54c8,
#161616);
height:100vh;
}

.background-glow{
position:fixed;
inset:0;
background:
radial-gradient(circle,
rgba(255,255,255,.15),
transparent 60%);
animation:pulse 6s infinite;
}

@keyframes pulse{
50%{
transform:scale(1.3);
opacity:.6;
}
}

.ui{
position:absolute;
top:20px;
left:50%;
transform:translateX(-50%);
z-index:100;
}

.logo{
font-size:40px;
font-weight:900;
color:white;
text-align:center;
letter-spacing:3px;

text-shadow:
0 0 20px cyan,
0 0 50px cyan;
}

.stats{
display:flex;
gap:20px;
margin-top:20px;
}

.card{
width:140px;
padding:15px;

backdrop-filter:blur(20px);

background:
rgba(255,255,255,.08);

border:
1px solid rgba(255,255,255,.2);

border-radius:20px;

text-align:center;

box-shadow:
0 10px 30px rgba(0,0,0,.3);
}

.card span{
color:#ccc;
}

.card h2{
color:white;
margin-top:10px;
}

#game{
width:100vw;
height:100vh;
position:relative;
overflow:hidden;
}

#cup{
position:absolute;
bottom:30px;

width:140px;
height:120px;

background-image:url("assets/cup.png");
background-size:contain;
background-repeat:no-repeat;

left:50%;
transform:translateX(-50%);
}

.object{
position:absolute;

width:70px;
height:70px;

background-size:contain;
background-repeat:no-repeat;

filter:
drop-shadow(0 0 15px white);

animation:spin 4s linear infinite;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}

.catch-effect{

position:absolute;

width:20px;
height:20px;

background:white;

border-radius:50%;

pointer-events:none;

animation:explode .7s forwards;
}

@keyframes explode{

to{

transform:
translateY(-100px)
scale(5);

opacity:0;

}

}